bin/*/Radio Downloader.*
bin/*/*Provider.*
bin/*/store.db
build/publish-win-vars.bat
installer/*.msi
installer/*.wixpdb
obj
Radio Downloader.sln.cache
Radio Downloader.suo
*.csproj.user
StyleCop.Cache
tools/recoverdb/recoverdb.exe
VersionInfo.cs
