# Auto detect text files and perform LF normalization
* text=auto

# Adjust default settings for specific files
*.cs     text eol=lf diff=csharp
*.rtf    diff=astextplain
*.RTF    diff=astextplain
*.sln    text eol=crlf
*.csproj text eol=crlf
*.bat    text eol=crlf
*.sed    text eol=crlf
