bin/*/Radio Downloader.*
bin/*/Radio Downloader Test.*
bin/*/*Provider.*
bin/*/*Provider Test.*
bin/*/TestData/
bin/*/store.db
bin/*/HtmlAgilityPack.dll
bin/*/xunit.*
installer/*.msi
installer/*.wixpdb
installer/radio-downloader-*.pkg.tar.xz
obj
Radio Downloader.sln.cache
*.csproj.user
tools/recoverdb/recoverdb.exe
VersionInfo.cs
.vs
packages
.directory
Thumbs.db
*.userprefs
*.dia~
