<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioDld.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RadioDld.Properties.Settings>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value>%epname% %day%-%month%-%year%</value>
            </setting>
            <setting name="RunAfterCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdatePrompt" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="LastCheckForUpdates" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="ShownTrayBalloon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadCols" serializeAs="String">
                <value>0,1,2,3</value>
            </setting>
            <setting name="DownloadColSizes" serializeAs="String">
                <value>0,2.49|1,0.81|2,1.28|3,1.04|4,0.6</value>
            </setting>
            <setting name="DownloadColSortBy" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadColSortAsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToSystray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormPos" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </RadioDld.Properties.Settings>
    </userSettings>
    <!-- Use proxy credentials from IE as well as proxy settings -->
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
    <!-- Use version 4.0 of the .NET framework instead if 2.0 isn't available -->
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0.50727"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>