<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Use proxy credentials from IE as well as proxy settings -->
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <!-- If the default application data directory is not desirable,
             uncomment the line below and set your preferred path -->
        <!-- <add key="AppDataDir" value="c:\my\custom\path\" /> -->
    </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
