<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Use proxy credentials from IE as well as proxy settings -->
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
    <!-- Use version 4.0 of the .NET framework instead if 2.0 isn't available -->
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0.50727"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <!-- If store.db is not in de default location and/or the name is different,
         the value of RadioDld.Properties.Settings.StorePath should reflect this fact. -->
    <appSettings>
      <add key="RadioDld.Properties.Settings.StorePath" value="" />
    </appSettings>
</configuration>