<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Language="1033" Manufacturer="NerdoftheHerd.com" Name="Radio Downloader"
	         Version="!(bind.FileVersion.RadioDownloaderExe)" UpgradeCode="D593C2E0-724E-4CF8-8395-4F4CD240DF49">
		<Package Compressed="yes" Keywords="Radio Downloader,Installer,Radio,Podcasts"
		         Comments="Radio Downloader allows you to easily download radio station content and podcasts." />
		<Media Id="1" Cabinet="RadioDld.cab" CompressionLevel="high" EmbedCab="yes" />
		
		<?include UI.wxs ?>
		
		<?if $(sys.BUILDARCH) = "x64" ?>
			<?define ProgramFiles = "ProgramFiles64Folder" ?>
			<?define PlatformBin = "..\bin\win64" ?>
		<?else ?>
			<?define ProgramFiles = "ProgramFilesFolder" ?>
			<?define PlatformBin = "..\bin\win32" ?>
		<?endif ?>
		
		<Property Id="InstallMode"><![CDATA[Custom]]></Property>
		<Property Id="ALLUSERS"><![CDATA[2]]></Property>
		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
		<Property Id="PROMPTROLLBACKCOST"><![CDATA[P]]></Property>
		
		<Property Id="ARPHELPLINK" Value="http://www.nerdoftheherd.com/tools/radiodld/" />
		<Property Id="ARPNOMODIFY" Value="1" />
		<Property Id="ARPPRODUCTICON" Value="RadioDownloader.exe" />
		
		<Condition Message="[ProductName] requires the .NET Framework 2.0 or higher.">MsiNetAssemblySupport &gt;= "2.0.50727"</Condition>
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
		              Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes" />
		
		<AdminExecuteSequence />
		
		<InstallExecuteSequence>
			<Custom Action="CloseBeforeUninstall" Before="InstallValidate">Installed OR WIX_UPGRADE_DETECTED</Custom>
		</InstallExecuteSequence>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFiles)" Name="Program Files">
				<Directory Id="INSTALLLOCATION" Name="Radio Downloader">
					<Component Id="RadioDownloaderExe" Guid="F960FE9C-5378-4052-8517-43F67D5A582E">
						<File Id="RadioDownloaderExe" Source="$(var.PlatformBin)\Radio Downloader.exe" Name="Radio Downloader.exe" KeyPath="yes">
							<Shortcut Id="RadioDownloaderExeShortcut" Directory="ProgramMenuFolder" Name="Radio Downloader" IconIndex="0" WorkingDirectory="INSTALLLOCATION" Advertise="yes" Icon="RadioDownloader.exe" Description="Easily download radio station content and podcasts.">
								<Icon Id="RadioDownloader.exe" SourceFile="..\Resources\icons\Icon.ico" />
							</Shortcut>
						</File>
						<File Name="Radio Downloader.pdb" Source="$(var.PlatformBin)\Radio Downloader.pdb" />
					</Component>
					<Component Id="SQLiteDll" Guid="DC4B5709-7257-4230-824D-DBA2E103ED29">
						<File Name="System.Data.SQLite.DLL" Source="$(var.PlatformBin)\System.Data.SQLite.DLL" />
					</Component>
					<Component Id="Database" Guid="D8715547-94E1-40C0-BAA3-37B364884EB5">
						<File Name="store.db" Source="..\store.db" />
					</Component>
					<Component Id="GplTxt" Guid="66264481-3504-4FFD-B8EC-AA10DC2250C5">
						<File Name="GPL.txt" Source="..\GPL.txt" />
					</Component>
					<Component Id="PodcastProviderDll" Guid="4B6DBD87-EB57-4E5F-A87A-CF6A21BC4C02">
						<File Name="PodcastProvider.dll" Source="$(var.PlatformBin)\PodcastProvider.dll" />
						<File Name="PodcastProvider.pdb" Source="$(var.PlatformBin)\PodcastProvider.pdb" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Start Menu Programs" />
		</Directory>
		
		<Feature Id="RadioDownloader" Level="1" Title="Radio Downloader" Absent="disallow" AllowAdvertise="no" Description="The Radio Downloader application.">
			<ComponentRef Id="RadioDownloaderExe" />
			<ComponentRef Id="SQLiteDll" />
			<ComponentRef Id="Database" />
			<ComponentRef Id="GplTxt" />
			<ComponentRef Id="PodcastProviderDll" />
		</Feature>
		
		<CustomAction ExeCommand="" Id="RunAfterInstall" FileKey="RadioDownloaderExe" Return="asyncNoWait" Impersonate="yes" />
		<CustomAction ExeCommand="/exit" Id="CloseBeforeUninstall" FileKey="RadioDownloaderExe" Return="ignore" Impersonate="yes" />
	</Product>
</Wix>
